ansicon==1.89.0 ; python_version >= "3.9" and python_version < "4" and platform_system == "Windows"
blessed==1.20.0 ; python_version >= "3.9" and python_version < "4"
certifi==2023.11.17 ; python_version >= "3.9" and python_version < "4"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "4" and sys_platform == "linux"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "4"
contourpy==1.2.0 ; python_version >= "3.9" and python_version < "4"
cryptography==41.0.7 ; python_version >= "3.9" and python_version < "4" and sys_platform == "linux"
cycler==0.12.1 ; python_version >= "3.9" and python_version < "4"
docutils==0.20.1 ; python_version >= "3.9" and python_version < "4"
fonttools==4.45.1 ; python_version >= "3.9" and python_version < "4"
idna==3.6 ; python_version >= "3.9" and python_version < "4"
importlib-metadata==6.9.0 ; python_version >= "3.9" and python_version < "4"
importlib-resources==6.1.1 ; python_version >= "3.9" and python_version < "3.10"
inquirer==3.1.4 ; python_version >= "3.9" and python_version < "4"
jaraco-classes==3.3.0 ; python_version >= "3.9" and python_version < "4"
jeepney==0.8.0 ; python_version >= "3.9" and python_version < "4" and sys_platform == "linux"
jinxed==1.2.0 ; python_version >= "3.9" and python_version < "4" and platform_system == "Windows"
keyring==24.3.0 ; python_version >= "3.9" and python_version < "4"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_version < "4"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4"
matplot==0.1.9 ; python_version >= "3.9" and python_version < "4"
matplotlib==3.8.2 ; python_version >= "3.9" and python_version < "4"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4"
more-itertools==10.1.0 ; python_version >= "3.9" and python_version < "4"
nh3==0.2.14 ; python_version >= "3.9" and python_version < "4"
numpy==1.26.2 ; python_version >= "3.9" and python_version < "4"
packaging==23.2 ; python_version >= "3.9" and python_version < "4"
pillow==10.1.0 ; python_version >= "3.9" and python_version < "4"
pkginfo==1.9.6 ; python_version >= "3.9" and python_version < "4"
pycairo==1.25.1 ; python_version >= "3.9" and python_version < "4"
pycparser==2.21 ; python_version >= "3.9" and python_version < "4" and sys_platform == "linux"
pygments==2.17.2 ; python_version >= "3.9" and python_version < "4"
pygobject==3.46.0 ; python_version >= "3.9" and python_version < "4"
pyloco==0.0.139 ; python_version >= "3.9" and python_version < "4"
pyparsing==3.1.1 ; python_version >= "3.9" and python_version < "4"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4"
python-editor==1.0.4 ; python_version >= "3.9" and python_version < "4"
pywin32-ctypes==0.2.2 ; python_version >= "3.9" and python_version < "4" and sys_platform == "win32"
readchar==4.0.5 ; python_version >= "3.9" and python_version < "4"
readme-renderer==42.0 ; python_version >= "3.9" and python_version < "4"
requests-toolbelt==1.0.0 ; python_version >= "3.9" and python_version < "4"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4"
rfc3986==2.0.0 ; python_version >= "3.9" and python_version < "4"
rich==13.7.0 ; python_version >= "3.9" and python_version < "4"
secretstorage==3.3.3 ; python_version >= "3.9" and python_version < "4" and sys_platform == "linux"
setuptools==69.0.2 ; python_version >= "3.9" and python_version < "4"
simplewebsocketserver==0.1.2 ; python_version >= "3.9" and python_version < "4"
six==1.16.0 ; python_version >= "3.9" and python_version < "4"
twine==4.0.2 ; python_version >= "3.9" and python_version < "4"
typing==3.7.4.3 ; python_version >= "3.9" and python_version < "4"
urllib3==2.1.0 ; python_version >= "3.9" and python_version < "4"
ushlex==0.99.1 ; python_version >= "3.9" and python_version < "4"
wcwidth==0.2.12 ; python_version >= "3.9" and python_version < "4"
websocket-client==1.6.4 ; python_version >= "3.9" and python_version < "4"
zipp==3.17.0 ; python_version >= "3.9" and python_version < "4"
